name: CI - Build, Test & SonarCloud (Gradle)

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-test-sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build and run tests
        run: ./gradlew clean test jacocoTestReport

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        with:
          projectKey: Alejo311548_auth-service
          organization: Alejo311548
          host: https://sonarcloud.io
          token: ${{ secrets.SONAR_TOKEN }}
          extra-properties: |
            sonar.coverage.jacoco.xmlReportPaths=build/reports/jacoco/report.xml
            sonar.qualitygate.wait=true
